.listing {
    padding: 10px;

    &__action {
        border: 2px solid lightseagreen;
        padding: 10px;
        margin: 5px;
    }

    &__genres {
        padding: 0;
        list-style-type: none;

        li {
            font-size: 18px;
            padding: 10px;
            background: lightpink;
            cursor: pointer;

            &:hover {
                background: lightskyblue;
            }
        }
    }

    &__selected-genre {
        font-size: 18px;
        padding: 10px;
        background: lightskyblue;
    }

}