<div class="listing">

  <div class="listing__action">

    <ul class="listing__genres">
      <li *ngFor="let item of genres" (click)="selectGenre(item)">
        {{ item.name }}
      </li>
    </ul>

    <button (click)="getAllGenres()"> Get all genres</button> 
  </div>
  
  <div class="listing__action">
      <input type="text" [(ngModel)]="genreName" placeholder="Name of new genre">
      <br /> <br />

      <button (click)="addNewGenre()" > Add new genre + </button> 
  </div>

  <div class="listing__action">
    <div *ngIf="selectedGenre" class="listing__selected-genre">
      {{ selectedGenre.name }}
    </div>
    <br/> <br/>

    <input type="text" [(ngModel)]="editGenreName" placeholder="New name for the genre">
    <br/> <br/>

    <button (click)="editGenreNameAction()"> Edit genre </button>
  </div>

  <div class="listing__action">
    <div *ngIf="selectedGenre" class="listing__selected-genre">
      {{ selectedGenre.name }}
    </div>
    <br/> <br/>

    <button (click)="deleteGenre()"> Delete Genre </button>
  </div>

</div>