<p>
  form-validation works!
</p>

<form [formGroup]="myForm" >
  <div>
    <input type="text" formControlName="id" placeholder="ID">
  </div>
  <div>
    <input type="text" formControlName="name" placeholder="Name">
  </div>
  <div>
    <input type="text" formControlName="alterEgo" placeholder="Alter Ego">
  </div>
  <div>
    <input type="text" formControlName="power" placeholder="Power">
  </div>
</form>

<div *ngFor="let item of error"> {{ item }}</div>


<button (click)="dawere()"> Write mnishvneloba</button>